#
# This is a sample configuration file for Vantages
#

# This variable tells vantaged how to connect to
# its database.  The default is a SQLite3 file.
db_cxn_string = /var/vantages/data.db

# This variable tells vantaged where to store
# its PID, and is optional.
pid_file = /var/run/vantaged.pid

# This variable specifies where the default log
# file should be.  This can be overridden on
# the command line, or excluded for no logging
ps_log_file = /var/log/vantage.out

# This variable specifies the default log level
# This can be overridden on the command line, and
# the default (if not specified) is CRITICAL.
# The levels are:
#   DEBUG
#   INFO
#   WARNING
#   ERROR
#   CRITICAL
## ps_log_level = CRITICAL

# This is the port that vantages listens on
# peer connections and the admin interface.
## http_port = 9080

# This variable specifies where libcurl can find
# its CA bundle if it's installed.
## ps_curl_ca_file = /usr/local/share/curl/curl-ca-bundle.crt

# This variable instructs the vantaged.sh start up script to 
# specify a user account to use for vantaged after start up.
# The start up script will use the specified user name with
# vantaged's -u option.  Thus, by specifying this parameter,
# vantaged.sh will launch vatnaged with -u <user name>
# In future releases, vantaged itself will read this parameter.
## ps_default_user = 

# To enable and configure vantaged's DNSSEC trust-anchor
# application, uncomment and configure the following
# parameters:
#
# This variable directs vantaged to load and
# run its DNSSEC trust-anchor system when the
# daemon starts.
dnskey_app_enable = yes
#
# The variables below specify the behavior of this 
# vantaged application:
# (the indentation below is optional)
    # This variable defines the maximum number of 
    # concurrent DNS queries that the resolver will
    # issue
    res_concurrency = 120

    # This variable specifies the trust-anchor
    # file that vantaged will generate.
    # ta_file = /var/vantages/ta_file.txt

    # This optional variable specifies how old
    # data can be before it is not used (such as
    # when the last time a DNSKEY was seen)
    ta_max_key_age = 172800

    # This optional parameter can be used to
    # reduce the memory footprint of vantaged.
    # This parameter restricts vantaged from 
    # trying to poll an unbounded number of
    # sources at the same time.  Rather it will
    # poll them in chunk sizes specified here
    db_poll_chunk_size = 5000

    # This is the number of agreements needed 
    # from other witnesses (configured as friends) 
    # in the configured Community of Trust (CoT) 
    # in order to flag an entry as confirmed.  
    # Note, that the default behavior is to confim 
    # any value that is seen by all friends, in 
    # cases where the CoT itself is smaller than 
    # the configured value.
    ## dnskey_consistency_threshold = 5

    # This variable specifies that the admin
    # web interface should be password protected
    # using HTTP digest authentication.  This
    # parameter specifies the file location for
    # file generated by Apache's ``htdigest''
    ## dnskey_admin_pass = /var/vantages/.htdigest

    # This variable instructs vantaged to use libpcap 
    # to listed for DNS queries and scrape the zone
    # names.  This allows vantaged to run on a
    # machine that hosts a recursive resolver and learn
    # what zones to poll for DNSKEYs automatically.
    ## dnskey_pcap_enable = yes

    # If the above variable is enabled, this variable
    # specifies which interface to listen on.
    ## dnskey_pcap_dev = nfe0

    # This variable gives vantaged a libpcap "program"
    # to run.  The example should suffice.
    ## dnskey_pcap_program = udp port 53

    # This variable specifies how long (in seconds) 
    # monitored URLs that are learned from the pcap 
    # module are polled until they are no longer used.
    # If these URLs are re-observed they will
    # be monitored again, but this ensures that
    # the monitored set of zones does not simply 
    # grow over time
    ## dnskey_mon_timeout = 2592000

    # This variable specifies how long (in seconds) 
    # observed data is stored before being flushed.
    ## dnskey_data_timeout = 2592000

# To enable and configure vantaged's PHAS 
# application, uncomment and configure the following
# parameters:
#
# This variable directs vantaged to load and
# run its PHAS system when the daemon starts.
# phas_app_enabled = yes
#
# The variables below specify the behavior of this 
# vantaged application:
# (the indentation below is optional)
    ## phas_bgpmon_addr = bgpdata.netsec.colostate.edu
    ## phas_bgpmon_port = 50001
    ## phas_promisc_alert = yes
    ## phas_event_log_root_dir = /home/eoster/log/phas



# To enable and configure vantaged's DSYNC application
# uncomment and configure the following parameters:
#
# This variable directs vantaged to load and run
# its DSYNC system when the daemon starts.
# dsync_app_enabled = yes 
#
# The variables below specify the behavior of this
# vantged application:
# (the indentation below is optional)
    # The dsync_query_sleep value specifies the sleep time (in seconds) that a zone
    # will be idle for between checks
    ## dsync_query_sleep = 18000
     
    # This dsync_weighted_check value defines a percentage of the time that dsync
    # will re-query for each zone's base information (ns servers, etc) when 
    # querying for its dnskey.  Set to a float value between 0 and 1.
    ## dsync_weighted_check = 0
